# --- Database Configuration ---
DB_POSTGRESDB_DATABASE=n8n_db
DB_POSTGRESDB_USER=n8n_user
DB_POSTGRESDB_PASSWORD=n8n_password
DB_POSTGRESDB_PORT=5432

# --- n8n Configuration ---
TZ=Asia/Bangkok
GENERIC_TIMEZONE=Asia/Bangkok